rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default: allow reads but deny writes.
    // Change write rules only when you configure Firebase Authentication.
    match /{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
